@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #202020;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.sm-container {
  width: 390px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.round-curve {
  border-radius: 10px;
}
.p-dialog-header {
  visibility: hidden;
}

.active {
  color: #76c4eb;
}
input,
select:focus {
  outline: none;
  padding-left: 8px;
}
.ql-container {
  height: 210px !important;
}

.p-dialog-mask {
  background: #81868a5e !important;
}
#pr_id_3 {
  box-shadow: #8b939e !important;
  border-radius: 6px;
}
.scroll-to-top {
  background-color: #0077b6 !important;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 100% !important;
  width: 50px !important;
  display: flex;
  justify-items: center;
  height: 50px !important;
  box-shadow: 0 9px 25px 0 #0077b6;
  border: none;
  justify-content: center;
  align-items: center;
}

svg[Attributes] {
  width: 28;
  height: 28;
  fill: rgb(234, 229, 241) !important;
}

.wavy {
  position: relative;
  color: #0077b6;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.wavy span {
  position: relative;
  display: inline-block;
  color: #0077b6;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
